

  
  <div class="col-11">
    <div class="alert alert-primary mt-2" role="alert">
      <span>CURSOS</span>
    </div>
    <div>
      <form [formGroup]="courseForm" (ngSubmit)="addCourse()">
        <mat-form-field>
          <mat-label>Nombre del Curso</mat-label>
          <input formControlName='nombre' matInput placeholder="Curso" />
          <button matSuffix mat-icon-button >
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <table mat-table [dataSource]="courses" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let course">{{ course.id }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let course">{{ course.nombre }}</td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Creada</th>
        <td mat-cell *matCellDef="let course">
          {{ formatDate(course.createdAt) }}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


