.example-container {
    width: 100v;
    height: 100vh;
    
  }
  
  .example-sidenav-content {   
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 0px;
    width: 270px;
  }

  .menu-link {
    display: flex; 
    align-items: center; 
    width: 200px; 
    height: 50px; 
    line-height: 50px; 
    text-decoration: none; 
    color: white; 
    background-color: #3f51b5; 
    margin: 5px 0; 
    border-radius: 4px; 
    padding: 0 10px; 
  }
  
  .menu-link mat-icon {
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  
  .menu-link:hover {
    background-color: #303f9f; /* Cambia el color de fondo al pasar el ratón */
  }

  .icon-margen{
   margin: 2px;
   font-size: 20px;
  }

  .mdc-list-item{
    padding-left: 4px;
    padding-right: 16px;
  }