<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <mat-list>
      <h3 mat-subheader>Menú</h3>
      <mat-list-item >
        <a class="menu-link item-con-linea" routerLink="home"
          ><mat-icon class="icon-margen">home</mat-icon>Inicio</a
        >
      </mat-list-item>
      <mat-list-item>
        <a class="menu-link item-con-linea" routerLink="student"
          ><mat-icon class="icon-margen">perm_identity</mat-icon>Estudiantes</a
        >
      </mat-list-item>
      <mat-list-item>
        <a class="menu-link item-con-linea" routerLink="course"
          ><mat-icon class="icon-margen">category</mat-icon>Cursos</a
        >
      </mat-list-item>
      <mat-list-item>
        <a class="menu-link item-con-linea" routerLink="classe"
          ><mat-icon class="icon-margen">book</mat-icon>Clases</a
        >
      </mat-list-item>
      <mat-list-item>
        <a class="menu-link item-con-linea" routerLink="/"
          ><mat-icon class="icon-margen">exit_to_app</mat-icon>Cerrar Sesion</a
        >
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
