.example-container {
    width: 100v;
    height: 100vh;
    
  }
  
  .example-sidenav-content {   
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 1px;
    width: 270px;
  }

  .menu-link {
    display: flex; 
    align-items: center; 
    width: 200px; 
    height: 50px; 
    line-height: 50px; 
    text-decoration: none; 
    color: white; 
    background-color: #27337196; 
    margin: 5px 0; 
    border-radius: 4px; 
    padding: 0 10px; 
  }
  
  .menu-link mat-icon {
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  
  .menu-link:hover {
    background-color: #202852c5; /* Cambia el color de fondo al pasar el ratón */
  }

  .icon-margen{
   margin: 2px;
   font-size: 20px;
  }

  .mdc-list-item{
    padding-left: 4px;
    padding-right: 16px;
  }

  .item-con-linea {
    position: relative; /* Para poder posicionar la línea correctamente */
    transition: background-color 0.3s;
  }
  
  .item-con-linea::after {
    content: '';
    position: absolute;
    left: 0; /* Posiciona la línea a la derecha */
    top: 1%; /* Ajusta la posición vertical según sea necesario */
    height: 100%; /* Ajusta la altura de la línea */
    width: 7px; /* Grosor de la línea */
    background-color:rgb(243, 126, 17); /* Color de la línea */
  }


  