<div class="col-11">
  <div class="alert alert-primary mt-2" role="alert">
    <span>CLASES</span>
  </div>
  <div>
    <form [formGroup]="claseForm" (ngSubmit)="addClasses()">
      <mat-form-field>
        <mat-label>Nombre de la Clase</mat-label>
        <input formControlName='nombre' matInput placeholder="Clase" />
        <button matSuffix mat-icon-button >
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <table mat-table [dataSource]="classes" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let clase">{{ clase.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let clase">{{ clase.nombre }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Creada</th>
      <td mat-cell *matCellDef="let clase">
        {{ formatDate(clase.createdAt) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
