<h2 appTitles>Estudiantes</h2>
<hr>
<button mat-flat-button
(click)="openModal()" >
<mat-icon >add</mat-icon>
    Nuevo Estudiante
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element | studentFullName}} </td>
    </ng-container>
  
    <!-- Name Column -->
   
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button (click)="openModal(element)" mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button> 
        <button (click)="onDelete(element.email)"mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>    
    </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

